
@font-face {
    font-family: 'rawline-regular';
    font-style: normal;
    font-weight: normal;
    src: local('./wofs/rawline Regular'), url('./wofs/rawline-400.woff') format('woff');
    }
    
    @font-face {
    font-family: 'rawline';
    font-style: normal;
    font-weight: normal;
    src: local('./wofs/rawline Thin'), url('./wofs/rawline-100.woff') format('woff');
    }
    

    

    @font-face {
    font-family: 'rawline';
    font-style: normal;
    font-weight: normal;
    src: local('./wofs/rawline ExtraLight'), url('./wofs/rawline-200.woff') format('woff');
    }
    


    @font-face {
    font-family: 'rawline';
    font-style: normal;
    font-weight: normal;
    src: local('./wofs/rawline Light'), url('./wofs/rawline-300.woff') format('woff');
    }
    


    @font-face {
    font-family: 'rawline';
    font-style: normal;
    font-weight: normal;
    src: local('./wofs/rawline Medium'), url('./wofs/rawline-500.woff') format('woff');
    }
    


    @font-face {
    font-family: 'rawline-semi';
    font-style: normal;
    font-weight: normal;
    src: local('./wofs/rawline SemiBold'), url('./wofs/rawline-600.woff') format('woff');
    }
    


    @font-face {
        font-family: 'rawline';
        font-style: normal;
        font-weight: normal;
        src: local('./wofs/rawline Bold'), url('./wofs/rawline-700.woff') format('woff');
    }
    

    @font-face {
    font-family: 'rawline';
    font-style: normal;
    font-weight: normal;
    src: local('./wofs/rawline ExtraBold'), url('./wofs/rawline-800.woff') format('woff');
    }
    


    @font-face {
    font-family: 'rawline';
    font-style: normal;
    font-weight: normal;
    src: local('./wofs/rawline Black'), url('./wofs/rawline-900.woff') format('woff');
    }
    